body {
    overflow: hidden;
    background-color: #F5F5F5;
    color: black;
}
.acessibility {
    margin-left: 20%;
    padding: 1px 0px;
}
.color {
    font-size: 120%;
    font-weight: 500;
    color: #2F3A70;
}
.color:hover {
    color: #292929;
}
.bg-edit {
    background-color: #D9D9D9;
    padding: 0 !important;
    z-index: 999;
}
.div-p {
    background-color: #d9d9d9;
    width: 100%;
    margin-top: 20%;
    padding: 2%;
}
.marginB {
    margin-bottom: 2%;
}
